"""API response object."""

from __future__ import annotations
from typing import Any, Dict, Optional, Generic, TypeVar
from pydantic import Field, StrictInt, StrictStr
from pydantic.generics import GenericModel

T = TypeVar("T")

class ApiResponse(GenericModel, Generic[T]):
    """
    API response object
    """

    class Config:
        arbitrary_types_allowed = True

    status_code: StrictInt = Field(description="HTTP status code")
    headers: Dict[StrictStr, StrictStr] = Field(description="HTTP headers")
    data: T = Field(description="Deserialized data given the data type")
    raw_data: Any = Field(description="Raw data (HTTP response body)")
